//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//resolution
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;

//normalize
@import "./_misc/normalize.scss";

//media
@import "./_misc/media.scss";

// setups 
@import "./_misc/mixins.scss";
@import "./_misc/fonts.scss";
@import "./_misc/layout.scss";

//blocks
@import "./blocks/best.scss";
@import "./blocks/burger.scss";

@import "./blocks/button.scss";
@import "./blocks/delivery.scss";
@import "./blocks/delivery-form.scss";
@import "./blocks/hamburger-menu-link.scss";
@import "./blocks/hero.scss";
@import "./blocks/hero__content.scss";
@import "./blocks/header.scss";
@import "./blocks/header.scss";

@import "./blocks/map.scss";
@import "./blocks/menu.scss";
@import "./blocks/menu-acco.scss";
@import "./blocks/nav-menu.scss";
@import "./blocks/popap.scss";
@import "./blocks/slider-box.scss";
@import "./blocks/slick.scss";
@import "./blocks/tooltip.scss";
@import "./blocks/team.scss";
@import "./blocks/team-acco.scss";
@import "./blocks/reviews.scss";


