.best__list {
  display: flex;
  margin-top: 85px; 
}

.best__item {
  flex: 1;
  margin: 0 10px;
}

.best__pic {
  height: 90px;
}

.best__icon {
  width: 100%;
  height: 100%;
}

.best__item-title {
  font-size: 24px;
  @include lifehack();
}

.best__item-text {
  font-size: 14px;
  @include ubuntu;
  opacity: .8;
}


