.button {
  background-color: $orange;
  display: inline-flex;
  padding: rem(10px) rem(16px);
  @include ubuntu($style: medium);
  color: #fff;
  border-radius: rem(6px);
  text-transform: uppercase;
  font-size: rem(13px);
  border-style: none;
  cursor: pointer;

  @include phones() {
   font-size: rem(17px); 
  //  margin-right: rem(9px);
  }
}