.hero__container {
  display: flex;
  
  @include tablets() {
    flex-direction: column;
    justify-content: center;
    padding-top: rem(143px);
    padding-left: rem(24px);
  }
}


.hero__img {
  position: relative;
  bottom: rem(17px);
  right: rem(15px);

  @include tablets() {
    max-width: rem(450px);
    max-height: rem(350px);
  }

  @include phones() {
   bottom: rem(-38px) 
  }
}

.hero__img-pic {
  max-width: rem(631px);
  max-height: rem(750px);
  width: 100%;
  height: 100%;
}

.hero__text {
  width: rem(428px);
  padding-top: rem(100px);

  @include tablets () {
    padding-top: rem(95px);
    padding-left: rem(10px);
    text-align: center;
  }

  @include phones() {
   padding-top: rem(145px); 
  }
}

.hero__desc {
  font-size: rem(65px);
  @include lifehack();
  color: #fff;
  line-height: rem(64px);
  padding-top: rem(10px);

  @include tablets() {
    padding-top: rem(17px);
    letter-spacing: rem(1px);
  }

  @include phones() {
   padding-top: rem(4px); 
  }
}
