.menu-acco {
  position: relative;
}



.menu-acco__item-wrap {
  height: 100%;
}

.menu-acco__item-bg1 {
  background:  url("../images/bg/menu-acco_1.jpg") center center no-repeat;;
  background-size: contain;
  position: relative;
}



.menu-acco__item-title {
  font-size: rem(40px);
  color: #fff;
  @include gagalin();
  // transform: rotate(-90deg);
  position: absolute;
  top: 0%;
  left: 85%;
  height: 100%;
  white-space: nowrap;
  // display: flex;
}

.menu-acco__item-desc {
  display: flex;
}
