.fancybox-slide {
    padding: 0;
}

.fancybox-slide--html .fancybox-content {
    margin: 0;
}

.fancybox-close-small {
    color: #fff;
    width: 68px;
    height: 68px;
    position: absolute;
    right: 18px;
    top: 18px;
}

.popap {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.96;
    background: #303334;
    margin: 0;
}

.popap__logo {

}

.popap__list {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.popap__item {
    flex-direction: column;

    &::after {
        width: rem(6px);
        height: rem(6px);
        margin: 15px 0;
    }
}

.popap__link {
    color: #fff;
    @include ubuntu();
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
}