.scroll-menu {
    position: fixed;
    top: 90px;
    right: 4.2%;
    z-index: 1000;
}

.scroll-menu__item {
    position: relative;
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 5px;

    &.active {
        border-color: #fff;
    }

    &:first-child{
        margin-top: 0;
    }
}

.scroll-menu__link {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}