.team {
  background: url("../images/bg/team.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 49%;
  background: rgba($black, .93);
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets() {
    width: 100%;
  }
}

.team__content {
  width: 70%;
  margin-bottom: rem(108px);
  display: flex;
  flex-flow: column;

  @include tablets() {
    align-items: center;
    margin-bottom: 178px;
  }

  @include phones() {
    margin-bottom: 10.5rem;
  }
}

.team__title {
  margin-top: rem(60px);
  font-size: rem(72px);

  @include tablets() {
    margin-top: 0;
    font-size: rem(77px);
  }

  @include phones() {
    font-size: 3.8rem;
  }
}
