.tooltip {
    top: rem(16px);
    left: rem(10px);
    position: absolute;
    display: flex;

    @include tablets() {
        top: -70px;
        left: 147px;
    }

    @include phones() {
        left: 9px;
        top: -153px;
    }
}

.tooltip__but {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    background-color: rgb(240, 140, 51);
    border-radius: rem(5px);
    z-index: 10;
    &:hover {
        background-color: #e35028;
    }
    &:hover + .tooltip__content{
        left: rem(90px);
        top: rem(-1px);
        width: rem(270px);
        height: rem(332px);
    }

    @include phones() {
        width: 90px;
        height: 90px;
        text-align: center;
    }
}

.tooltip__but-svg {
    width: rem(46px);
    height: rem(44px);
    fill: white;

    @include phones() {
        width: 3.75rem;
        height: 3.75rem;
    }
}

.tooltip__but-text {
    @include gagalin;
    color: white;
    padding-top: rem(5px);
    font-size: rem(13px);

    @include phones() {
        width: 6.9rem;
        font-size: 1rem;    }
}

.tooltip__content
{
    z-index: 10;
    background: #fef8ec;
    position: absolute;
    top: rem(3px);
    left: rem(9999px);
    padding-left: rem(20px);
    padding-right: rem(20px);
    padding-top: rem(13px);
    padding-bottom: rem(7px);
    border-radius: rem(5px);

    @include phones() {
        top: rem(7px);
    }
}

.tooltip__img {
    padding-right: rem(25px);
}

.tooltip__img-svg {
    width: rem(45px);
    height: rem(45px);
}

.tooltip__name {
    padding-right: rem(56px);
    font-size: rem(14px);
    font-weight: 500;
}

.tooltip__value {
    font-size: rem(14px);
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
}